t.php
cache/key_*
test/*
test/
contrib/*
vendor/*
node_modules/*
logs/*
k8s/*
public/
pub_doxygen/
pub_mkdocs/
pub_phpunit/
composer.lock
bom.xml
package-lock.json
*.bak
**/.phpunit.result.cache
covcache/
