<?xml version="1.0" encoding="UTF-8" ?>
<phpunit>
 <coverage>
        <include>
            <directory suffix=".php">inc</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
        </exclude>
    </coverage>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./inc</directory>
            <file>index.php</file>
            <exclude>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <var name="DB_DSN" value="mysql:dbname=lggr;host=localhost" />
        <var name="DB_USER" value="logviewer" />
        <var name="DB_PASSWD" value="rl" />
        <var name="DB_DBNAME" value="lggr" />
    </php>
</phpunit>
